
    /* app */
    $app_background-color                                               : #F8F9FA;
    $app-text-n1_color                                                  : #333333;
    $app-text-n2_color                                                  : #666666;
    $app-text-n3_color                                                  : #999999;
    $app-text-up_color                                                  : #E96B61;
    $app-text-down_color                                                : #3BD191;
    $app-text-right_color                                               : #0BB76D;
    $app-text-error_color                                               : #FF391E;
    $app-text-hyperlink_color                                           : #2288FC;
    $app-text-super_color                                               : #FF391E;
    $app-container_box-shadow                                           : 0 0 6px rgba(0, 0, 0, .1);
    $app-container_background-color                                     : #FFFFFF;
    $app-scrollbar_color                                                : #D5D5D5;
    $app-scrollbar_color_hover                                          : #B2B2B2;



    /* index */
    $index_loading                                                      : #2288FC;
    $index-left_background-color                                        : #202632;
    $index-left-logo_color                                              : #FFFFFF;
    $index-left-logo_background                                         : linear-gradient(90deg, #55A5FF, #2288FC);
    $index-left-level1_waterline-color                                  : #414857;
    $index-left-level1_anchor-color                                     : #95A0AA;
    $index-left-level1_anchor-color_hover                               : #FFFFFF;
    $index-left-level1_anchor-color_opened                              : #FFFFFF;
    $index-left-level1_anchor-background-color_hover                    : #2B313C;
    $index-left-level2_border-left                                      : none;
    $index-left-level2_border-right                                     : 1px solid #E9EAEB;
    $index-left-level2_waterline-color                                  : #F2F2F2;
    $index-left-level2_background-color                                 : #FFFFFF;
    $index-left-level2_anchor-color                                     : #333333;
    $index-left-level2_anchor-color_hover                               : #333333;
    $index-left-level2_anchor-color_opened                              : #2288FC;
    $index-left-level2_anchor-color_extend                              : #999999;
    $index-left-level2_anchor-background-color_hover                    : #EFF6FE;
    $index-left-user_anchor-background-color                            : #161A23;



    /* ui-component */
    $ui-button-n_color                                                  : #FFFFFF;
    $ui-button-n_color_hover                                            : #FFFFFF;
    $ui-button-n_background                                             : linear-gradient(90deg, #55A5FF, #2288FC);
    $ui-button-n_background_hover                                       : linear-gradient(90deg, #93C6FF, #77B7FF);
    $ui-button-lc_color                                                 : #2288FC;
    $ui-button-lc_color_hover                                           : #2288FC;
    $ui-button-lc_border-color                                          : #2288FC;
    $ui-button-lc_border-color_hover                                    : #2288FC;
    $ui-button-lc_background                                            : linear-gradient(90deg, transparent, transparent);
    $ui-button-lc_background_hover                                      : linear-gradient(90deg, #F6F8FE, #F6F8FE);
    $ui-button-lgc_color                                                : #666666;
    $ui-button-lgc_color_hover                                          : #2288FC;
    $ui-button-lgc_border-color                                         : #CBCBCB;
    $ui-button-lgc_border-color_hover                                   : #2288FC;
    $ui-button-lgc_background                                           : linear-gradient(90deg, transparent, transparent);
    $ui-button-lgc_background_hover                                     : linear-gradient(90deg, #F6F8FE, #F6F8FE);
    $ui-button-text_color                                               : #2288FC;
    $ui-button-text_color_hover                                         : #77B7FF;
    $ui-button-disabled_color                                           : #C5C5C5;
    $ui-button-disabled_border-color                                    : #DDDDDD;
    $ui-button-disabled_background                                      : linear-gradient(90deg, #F2F2F2, #F2F2F2);
    $ui-radio_label-color                                               : #333333;
    $ui-radio_label-color_checked                                       : #2288FC;
    $ui-radio_label-color_disabled                                      : #C5C5C5;
    $ui-radio_border-color                                              : #DDDDDD;
    $ui-radio_border-color_checked                                      : #2288FC;
    $ui-radio_border-color_disabled                                     : #DDDDDD;
    $ui-radio_background-color                                          : #FFFFFF;
    $ui-radio_background-color_checked                                  : #2288FC;
    $ui-radio_background-color_disabled                                 : #F2F2F2;
    $ui-checkbox_label-color                                            : #333333;
    $ui-checkbox_label-color_checked                                    : #2288FC;
    $ui-checkbox_label-color_disabled                                   : #C5C5C5;
    $ui-checkbox_border-color                                           : #DDDDDD;
    $ui-checkbox_border-color_checked                                   : #2288FC;
    $ui-checkbox_border-color_disabled                                  : #DDDDDD;
    $ui-checkbox_background-color                                       : #FFFFFF;
    $ui-checkbox_background-color_checked                               : #2288FC;
    $ui-checkbox_background-color_disabled                              : #F2F2F2;
    $ui-input_text-color                                                : #333333;
    $ui-input_text-color_placeholder                                    : #999999;
    $ui-input_text-color_disabled                                       : #C5C5C5;
    $ui-input_icon-color                                                : #999999;
    $ui-input_icon-clear-color                                          : #DDDDDD;
    $ui-input_icon-clear-color_hover                                    : #C5C5C5;
    $ui-input_border-color                                              : #D5D5D5;
    $ui-input_border-color_hover                                        : #2288FC;
    $ui-input_border-color_error                                        : #FF391E;
    $ui-input_border-color_disabled                                     : #C5C5C5;
    $ui-input_background-color                                          : #FFFFFF;
    $ui-input_background-color_disabled                                 : #FFFFFF;
    $ui-date-popover_box-shadow                                         : 0 0 16px rgba(109, 109, 109, .25);
    $ui-date-popover_border-color                                       : #C6C6C6;
    $ui-date-popover_waterline-color                                    : #F2F2F2;
    $ui-date-popover_background-color                                   : #FFFFFF;
    $ui-date-popover_caption-color                                      : #333333;
    $ui-date-popover_week-color                                         : #999999;
    $ui-date-popover_date-color                                         : #333333;
    $ui-date-popover_date-color_hover                                   : #2288FC;
    $ui-date-popover_date-color_today                                   : #2288FC;
    $ui-date-popover_date-color_selected                                : #FFFFFF;
    $ui-date-popover_date-color_disabled                                : #C5C5C5;
    $ui-date-popover_date-background-color_range                        : #EFF6FE;
    $ui-date-popover_date-background-color_selected                     : #2288FC;
    $ui-date-popover_date-background-color_disabled                     : #F2F2F2;
    $ui-date-shortcut_color                                             : #333333;
    $ui-date-shortcut_color_hover                                       : #2288FC;
    $ui-date-shortcut_background-color_hover                            : #EFF6FE;
    $ui-time-popover_box-shadow                                         : 0 0 16px rgba(109, 109, 109, .25);
    $ui-time-popover_border-color                                       : #C6C6C6;
    $ui-time-popover_waterline-color                                    : #F2F2F2;
    $ui-time-popover_background-color                                   : #FFFFFF;
    $ui-time-popover_caption-color                                      : #333333;
    $ui-time-popover_time-color                                         : #999999;
    $ui-time-popover_time-color_active                                  : #2288FC;
    $ui-time-popover_time-color_disabled                                : #C5C5C5;
    $ui-time-popover_time-background-color_hover                        : #EFF6FE;
    $ui-time-popover_timeline-color                                     : #E5E5E5;
    $ui-select_text-color_hover                                         : #2288FC;
    $ui-select_icon-arrow-color                                         : #999999;
    $ui-select-popover_box-shadow                                       : 0 0 16px rgba(109, 109, 109, .25);
    $ui-select-popover_border-color                                     : #C6C6C6;
    $ui-select-popover_background-color                                 : #FFFFFF;
    $ui-select-popover_option-color                                     : #333333;
    $ui-select-popover_option-color_hover                               : #EFF6FE;
    $ui-select-popover_option-color_selected                            : #2288FC;
    $ui-switch_label-color                                              : #FFFFFF;
    $ui-switch_label-color_checked                                      : #FFFFFF;
    $ui-switch_label-color_disabled                                     : #C5C5C5;
    $ui-switch_slider-color                                             : #FFFFFF;
    $ui-switch_slider-color_checked                                     : #FFFFFF;
    $ui-switch_slider-color_disabled                                    : #F2F2F2;
    $ui-switch_border-color                                             : #D5D5D5;
    $ui-switch_border-color_checked                                     : #2288FC;
    $ui-switch_border-color_disabled                                    : #D5D5D5;
    $ui-switch_background-color                                         : #D5D5D5;
    $ui-switch_background-color_checked                                 : #2288FC;
    $ui-switch_background-color_disabled                                : #D5D5D5;
    $ui-table-header_border-color                                       : #CBCBCB;
    $ui-table-header_border-color_resize                                : #2288FC;
    $ui-table-header_background-color                                   : #F2F2F2;
    $ui-table-body_border-color_left                                    : #4CA0FF;
    $ui-table-body_background-color                                     : #FFFFFF;
    $ui-table-body_background-color_striped                             : #F9F9F9;
    $ui-table-body_background-color_hover                               : #EFF6FE;
    $ui-table-fixed_box-shadow                                          : 0 -4px 4px rgba(239, 239, 239, 1);
    $ui-table-fixed_border-color                                        : #E5E5E5;
    $ui-tag_text-color                                                  : #2288FC;
    $ui-tag_text-color_hover                                            : #2288FC;
    $ui-tag_icon-close-color_hover                                      : #FFFFFF;
    $ui-tag_icon-close-background-color_hover                           : #2288FC;
    $ui-tag_border-color                                                : #EFF6FE;
    $ui-tag_border-color_hover                                          : #2288FC;
    $ui-tag_background-color                                            : #EFF6FE;
    $ui-tag_background-color_hover                                      : #EFF6FE;
    $ui-pagination_text-color                                           : #666666;
    $ui-pagination_text-color_hover                                     : #2288FC;
    $ui-pagination_text-color_active                                    : #2288FC;
    $ui-pagination_button-color                                         : #999999;
    $ui-pagination_button-color_hover                                   : #FFFFFF;
    $ui-pagination_button-color_disabled                                : #C5C5C5;
    $ui-pagination_button-background-color                              : #F2F2F2;
    $ui-pagination_button-background-color_hover                        : #2288FC;
    $ui-pagination_button-background-color_disabled                     : #F2F2F2;
    $ui-message-info_text-color                                         : #95A0AA;
    $ui-message-info_border-color                                       : #D1DAEC;
    $ui-message-info_background-color                                   : #EFF6FE;
    $ui-message-success_text-color                                      : #6EC544;
    $ui-message-success_border-color                                    : #BAE9A2;
    $ui-message-success_background-color                                : #EBFBE2;
    $ui-message-warning_text-color                                      : #FF7805;
    $ui-message-warning_border-color                                    : #FFC99B;
    $ui-message-warning_background-color                                : #FFF2E6;
    $ui-message-error_text-color                                        : #FF391E;
    $ui-message-error_border-color                                      : #F2C4A3;
    $ui-message-error_background-color                                  : #FFF6EF;
    $ui-tabs-standard_tab-text-color                                    : #666666;
    $ui-tabs-standard_tab-text-color_hover                              : #2288FC;
    $ui-tabs-standard_tab-text-color_active                             : #2288FC;
    $ui-tabs-standard_tab-text-color_disabled                           : #C5C5C5;
    $ui-tabs-standard_scroll-arrow-color                                : #999999;
    $ui-tabs-standard_slider-background                                 : linear-gradient(90deg, #2288FC, #2288FC);
    $ui-tabs-distinct_tab-text-color                                    : #666666;
    $ui-tabs-distinct_tab-text-color_hover                              : #2288FC;
    $ui-tabs-distinct_tab-text-color_active                             : #FFFFFF;
    $ui-tabs-distinct_tab-text-color_disabled                           : #C5C5C5;
    $ui-tabs-distinct_tab-background                                    : linear-gradient(90deg, #F2F2F2, #F2F2F2);
    $ui-tabs-distinct_slider-background                                 : linear-gradient(90deg, #55A5FF, #2288FC);
    $ui-dialog_box-shadow                                               : 0 3px 16px rgba(0, 0, 0, .3);
    $ui-dialog_border-color                                             : #A6A6A6;
    $ui-dialog_background-color                                         : #FFFFFF;
    $ui-dialog_icon-close-color                                         : #999999;
    $ui-dialog_icon-close-color_hover                                   : #999999;
    $ui-dialog_icon-close-background-color                              : #F2F2F2;
    $ui-dialog_icon-close-background-color_hover                        : #DDDDDD;
    $ui-tooltip_text-color                                              : #FFFFFF;
    $ui-tooltip_background-color                                        : #202632;
    $ui-popover_box-shadow                                              : 0 0 16px rgba(109, 109, 109, .25);
    $ui-popover_border-color                                            : #C6C6C6;
    $ui-popover_background-color                                        : #FFFFFF;
    $ui-modal_opacity                                                   : .3;
    $ui-modal_background-color                                          : #000000;



    /* public component */
    $draw-mark_mark-box-shadow: 0 2px 8px rgba(66, 66, 66, 0.4);
    $draw-mark_mark-color_draw: #2288fc;
    $draw-mark_mark-background-color: #ffffff;
    $input-cascader-popover_box-shadow                                  : 0 0 16px rgba(109, 109, 109, .25);
    $input-cascader-popover_border-color                                : #C6C6C6;
    $input-cascader-popover_waterline-color                             : #F2F2F2;
    $input-cascader-popover_background-color                            : #FFFFFF;
    $input-cascader-popover_cell-background-color_hover                 : #EFF6FE;
    $input-checkbox_waterline-color                                     : #F2F2F2;
    $input-checkbox_background-color                                    : #FFFFFF;
    $input-checkbox-cell_icon-right-color                               : #999999;
    $input-checkbox-cell_background-color_selection                     : #EFF6FE;
    $input-transfer-container_border-color                              : #D5D5D5;
    $input-transfer-container_background-color                          : #FFFFFF;
    $input-transfer-container-header_background-color                   : #F2F2F2;
    $input-transfer-node_text-color                                     : #333333;
    $input-transfer-node_icon-right-color                               : #999999;
    $input-transfer-node_icon-expand-color                              : #999999;
    $input-transfer-node_background-color_hover                         : #EFF6FE;
    $input-transfer-button_text-color                                   : #FFFFFF;
    $input-transfer-button_text-color_hover                             : #FFFFFF;
    $input-transfer-button_text-color_disabled                          : #999999;
    $input-transfer-button_background-color                             : #2288FC;
    $input-transfer-button_background-color_hover                       : #77B7FF;
    $input-transfer-button_background-color_disabled                    : #F2F2F2;
    $input-upload_tip-color                                             : #999999;
    $input-upload-dragger_text-color                                    : #666666;
    $input-upload-dragger_text-color_a                                  : #2288FC;
    $input-upload-dragger_text-color_disabled                           : #999999;
    $input-upload-dragger_icon-color                                    : #999999;
    $input-upload-dragger_icon-color_hover                              : #2288FC;
    $input-upload-dragger_icon-color_dragover                           : #2288FC;
    $input-upload-dragger_icon-color_disabled                           : #C5C5C5;
    $input-upload-dragger_border-color                                  : #C5C5C5;
    $input-upload-dragger_border-color_hover                            : #2288FC;
    $input-upload-dragger_border-color_dragover                         : #2288FC;
    $input-upload-dragger_border-color_disabled                         : #C5C5C5;
    $input-upload-dragger_background-color                              : transparent;
    $input-upload-dragger_background-color_hover                        : transparent;
    $input-upload-dragger_background-color_dragover                     : rgba(34, 136, 252, .1);
    $input-upload-dragger_background-color_disabled                     : #F2F2F2;
    $input-upload-item_file-name-color                                  : #333333;
    $input-upload-item_file-name-color_hover                            : #2288FC;
    $input-upload-item_file-icon-color                                  : #2288FC;
    $input-upload-item_file-icon-color_excel                            : #00B732;
    $input-upload-item_file-icon-color_pdf                              : #DA1F25;
    $input-upload-item_file-right-icon-color                            : #6EC544;
    $input-upload-item_file-right-icon-color_error                      : #FF391E;
    $input-upload-item_file-right-icon-color_delete                     : #999999;
    $input-upload-item_progress-text-color                              : #999999;
    $input-upload-item_progress-thumb-color                             : #2288FC;
    $input-upload-item_progress-background-color                        : #E5E5E5;
    $right-dialog_box-shadow                                            : 0 0 6px rgba(109, 109, 109, .25);
    $right-dialog_background-color                                      : #FFFFFF;
    $right-dialog-top_box-shadow                                        : 0 2px 6px rgba(0, 0, 0, .1);
    $right-dialog-top_background-color                                  : #FFFFFF;
    $right-dialog-top-modal_background-color                            : rgba(0, 0, 0, .3);
    $right-dialog-left_border-color                                     : #E5E5E5;
    $right-dialog-left_background-color                                 : #FFFFFF;
    $right-dialog-container-header_box-shadow                           : 0 2px 6px rgba(0, 0, 0, .1);
    $right-dialog-container-header_breadcrumb-color_inner               : #333333;
    $right-dialog-container-header_breadcrumb-color_separator           : #B6B6B6;
    $right-dialog-container-header_icon-back-color                      : #333333;
    $right-dialog-container-header_icon-back-color_hover                : #999999;
    $right-dialog-container-header_icon-close-color                     : #999999;
    $right-dialog-container-header_icon-close-color_hover               : #999999;
    $right-dialog-container-header_icon-close-background-color          : #F2F2F2;
    $right-dialog-container-header_icon-close-background-color_hover    : #DDDDDD;
    $iphone-status-bar_icon-color                                       : #000000;
    $iphone-input-bar_icon-color                                        : #999FAB;
    $iphone-input-bar_input-text-color                                  : #333333;
    $iphone-input-bar_input-text-color_placeholder                      : #C7C7C7;
    $iphone-input-bar_input-sent-color                                  : #02CB46;
    $iphone-input-bar_input-border-color                                : #E5E5E9;
    $iphone-sms_back-color                                              : #007AFF;
    $iphone-sms_receiver-text-color                                     : #333333;
    $iphone-sms_receiver-icon-color                                     : #999FAB;
    $iphone-sms_sender-text-color                                       : #333333;
    $iphone-sms_sender-icon-color                                       : #999FAB;
    $iphone-sms_received-text-color                                     : #333333;
    $iphone-sms_received-time-color                                     : #999999;
    $iphone-sms_received-background-color                               : #E5E5EA;
    $iphone-sms_send-text-color                                         : #FFFFFF;
    $iphone-sms_send-time-color                                         : #999999;
    $iphone-sms_send-background-color                                   : #02CB46;
    $photo-wall-people_border-color                                     : #E2E2E2;
    $photo-wall-people_background-color                                 : #FFFFFF;
    $photo-wall-people_super-male-color                                 : #FFFFFF;
    $photo-wall-people_super-male-background-color                      : #6FB2FF;
    $photo-wall-people_super-female-color                               : #FFFFFF;
    $photo-wall-people_super-female-background-color                    : #FD9696;
    $step-bar-horizontal_circle-box-shadow                              : 0 0 0 rgba(0, 0, 0, 0);
    $step-bar-horizontal_circle-box-shadow_entry                        : 0 3px 6px rgba(34, 136, 252, .3);
    $step-bar-horizontal_circle-color                                   : #DDDDDD;
    $step-bar-horizontal_circle-color_entry                             : #2288FC;
    $step-bar-horizontal_circle-background-color                        : #FFFFFF;
    $step-bar-horizontal_circle-background-color_entry                  : #FFFFFF;
    $step-bar-horizontal_line-color                                     : #DDDDDD;
    $step-bar-horizontal_line-color_entry                               : #2288FC;
    $step-bar-horizontal_link-color                                     : #999999;
    $step-bar-horizontal_link-color_entry                               : #2288FC;
    $step-bar-horizontal_link-color_hover                               : #77B7FF;
    $step-bar-vertical_circle-box-shadow                                : 0 0 0 rgba(0, 0, 0, 0);
    $step-bar-vertical_circle-box-shadow_entry                          : 0 3px 6px rgba(34, 136, 252, .3);
    $step-bar-vertical_circle-color                                     : #C5C5C5;
    $step-bar-vertical_circle-color_entry                               : #2288FC;
    $step-bar-vertical_circle-background-color                          : #FFFFFF;
    $step-bar-vertical_circle-background-color_entry                    : #FFFFFF;
    $step-bar-vertical_line-color                                       : #DDDDDD;
    $step-bar-vertical_line-color_entry                                 : #DDDDDD;
    $step-bar-vertical_link-color                                       : #999999;
    $step-bar-vertical_link-color_entry                                 : #2288FC;
    $step-bar-vertical_link-color_hover                                 : #77B7FF;
