/deep/{
    .el-form-item {
        .el-table {
            .el-input__inner{
                background-color: transparent;
                border:1px solid #eee;
            }
        }
        .line{
            text-align: center;
        }
    }
}